<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="row">
      <div class="input-field col">
        <%= f.text_field :title, :id => "text", :class => "text" %>
        <label class="active" for="first_name2">Title</label>
      </div>
    </div>

    <div class="row">
        <div class="row">
          <div class="input-field col s12">
            <%= f.text_area :content, :id => "textarea1", :class => "materialize-textarea" %>
            <label for="textarea1">Textarea</label>
          </div>
        </div>
    </div>

    <%= button_tag(type: "submit", class: "btn btn-default") do %>
        submit <i class="icon-repeat"></i>
    <% end %>
<% end %>
