<!DOCTYPE html>
<html>
<head>
  <title>HELLO WORLD</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
  <div class="nav-wrapper blue lighten-2">

    <%= link_to 'WELCOME TO JUNGLE', root_url, class:"brand-logo" %>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="">JUST</a></li>
      <li><a href="">SURVIE</a></li>
      <li><a href="">FACEBOOK LOGIN</a></li>
    </ul>
  </div>
</nav>
<%= yield %>

</body>
</html>
